# Node.js
node_modules/

# Python
*.pyc
*.pyo
__pycache__/
instance/

# Environment variables
.env

# SQLite database
*.db

# Logs and temporary files
*.log
*.tmp
*.bak

# System files
.DS_Store
Thumbs.db

# IDE Configurations
.vscode/
.idea/

# Git
.git/
