body {
  background-color: #f9fafc;
}

.navbar-brand img {
  height: 40px;
  margin-right: 8px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: #f2f2f2;
}
